body{
  background-color: black;
  color:antiquewhite
}

article {
  display: flex;
  flex-direction: row;
}

section {
  display: flex;
  flex-direction: column;
}

#searchText {
  width: 200px
}

#searchResults {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#searchResults > span {
  border: 2px;
  border-radius: 6px;
  margin: 2px;
  padding: 2px;
  border-style: solid;
  border-color: bisque;
  width: 96%;
}

.optionsBar {
  display:flex;
  flex-direction: row;
  align-content: center;
  justify-content:stretch;
}

#map { 
  height: 800px; 
  width: 800px;
}